h2{
 text-align: center;
 padding: 10px;
 margin: 0;
}

h3 {
 color: #000;
 font-size: 1em;
}

p{
 padding: 0 20px 20px;
 margin: 0;
 font-size: 1.2em;
 text-align: justify;
}

body{
 background: #00246a;
 line-height: 1;
 height: 100%; 
 font: 0.8em Arial, sans-serif;
}
ul{
 padding: 5px 5px 5px 15px;	
}

.wrapper{
 width: 80%;
 margin: 20px auto;
 overflow: hidden;
}

.header, .footer{
 font-size: 12px;
 font-weight: normal;
 height: 50px;
 background: #ADD8E6;
 color: #181EFC;
 text-transform: uppercase;
 text-align: center;
}

.footer{
 clear: both;
 padding: 20px;
}

.left{
 width: 30%;
/*  background: #F0E68C; */
 color: #3533D8;
 float: left;
 padding: 5px;
 margin: 0;
}

.content{
 background: #fff;
 color: #000;
 background: url("images/ball5.png") repeat-y top right, white;
 margin-left: 30%;
}
.menu{
 background:  #F0E68C;
 
}

.baner{
 float: left;
 padding: 0 20px 20px 20px;
}

a{
 text-decoration: underline;
}
.mark{
    padding: 10px;
    background-color: lightgreen;
    border: solid green 1px;
    position: fixed;
    right: 12%;
    top: 12%;
    width: 70px;
    text-align: center;
    text-transform: uppercase;
}
